@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar usuário";
}

<div class="text-center">
    <h5>Realmente deseja apagar o usuário (@Model.Nome)?</h5>
</div>

<a class="btn btn-primary" asp-action="Index" asp-controller="Usuario" role="button">Cancelar exclusão</a>
<a class="btn btn-danger" asp-action="Apagar" asp-controller="Usuario" asp-route-id="@Model.Id" role="button">Confirmar exclusão</a>
